
h1{
    color: white;
}
.btn{
    color: white;
    background-color:#023e8a;
    border-radius: 25px;
    border-width: 2px ;
    border-color: #023e8a;
}
a:hover{
    transform: scale(1.05);
   
}
.navbar-toggler
{
    background-color: #023e8a;
}
.btn:hover{
    transform: scale(1.05);
   color: white;
   border-color: white;
}
body
{
  
background: #FC5C7D;  
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
background: linear-gradient(to right, #6A82FB, #FC5C7D); 
   
}